body {
  margin: 0;
  font-family: "Alegreya Sans SC", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.header {
  transition: 0.4s ease-in-out;
}

h1,
h2,
h3 {
  font-family: "Heebo", sans-serif;
}

.header.shadow {
  box-shadow: 0 9px 9px -9px rgba(0, 0, 0, 0.13);
}

.header.hidden {
  transform: translateY(-110%);
  opacity: 0;
}
